@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', ;
}
.apple{
	width: 100%;
	height: 100vh;
	background-color: pink;
	background-size: cover;
}
.loginform{
	background: #e5e4e9;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 380px;
	width: 100%;
	height: auto;
	border-radius: 5px;
	padding: 40px 30px 40px 0;
	box-shadow: 0 0 50px #1c1447;
}
.title {
	font-size: 32px;
	text-align:center;
	text-transform: uppercase;
	font-weight:bold;
	color: #4a424f;
	margin-bottom: 35px;
}
.input-form{
	margin-bottom: 35px;
	position: relative;
}
.input-form .input-username{
	width: 100%;
	padding: 16px;
	padding-left: 80px;
	font-size: 18px;
	text-align: center;
	border: transparent;
	color: black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: white;
	box-shadow: inset 0 0 5px #1c1447;
}

.input-form .input-password{
	width: 100%;
	padding: 16px;
	padding-left: 80px;
	font-size: 18px;
	text-align: center;
	border: transparent;
	color: black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: white;
	box-shadow: inset 0 0 5px #1c1447;
}

.input-form:before{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	background-color: red;
}

.input-form:after{
	content: "";
	position: absolute;
	top: 6px;
	left: 70px;
	width: 3px;
	height: 70%;
	background-color: black;
}
.button{
	width: 200px;
	background-color: red;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
	padding: 12px;
	box-shadow: 0 2px 2px #1c1447;
	color: #ffff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
}

.input-form .fas {
	position: absolute;
	top: 18px;
	left: 35px;
	font-size: 20px;
	background-color: #ffff;
}

/* Starting Menu */
#sidebar{
	position: fixed;
	width: 20%;
	height: 100%;
	left: -20%;
	background-color: pink;
	top: 80px;
}

#sidebar li{
	color: white;
	padding: 20px;
	font-size: 30px;
	border-bottom: 1px solid gray;
	text-align:center;
	
}
#sidebar a {
	text-decoration:none;
	color:white;
}

.menu-button {
	position: absolute;
	left: 105%;
	top: 15px;
}
.menu-button span {
	display:block;
	background-color: pink;
	width: 30px;
	height: 5px;
	margin:3px;
}

#sidebar.active {
	Left: 0;
}
.




